<form [formGroup]="confirmPasswordForm" (submit)="onSubmit()">
  <div
    class="row form-group justify-content-left"
    [class.has-error]="
      confirmPasswordForm.get('Password').touched &&
      confirmPasswordForm.get('Password').invalid
    "
  >
    <label for="password" class="col-2 label-control">Password</label>
    <div class="col-4">
      <input
        class="form-control"
        type="password"
        id="password"
        formControlName="Password"
        autocomplete="off"
      />
      <span
        class="halp-block text-danger"
        *ngIf="
          confirmPasswordForm.get('Password').touched &&
          confirmPasswordForm.get('Password').invalid
        "
      >Required Password</span>
    </div>
  </div>
  <div
    class="row form-group justify-content-left"
    [class.has-error]="
      confirmPasswordForm.get('ConfirmPassword').touched &&
      confirmPasswordForm.get('ConfirmPassword').errors?.required
    "
  >
    <label for="confirmPassowrd" class="col-2 label-control"
      >Confirm Password</label
    >
    <div class="col-4">
      <input
        class="form-control"
        type="password"
        id="confirmPassword"
        appConfirmEqualValidator="Password"
        formControlName="ConfirmPassword"
        autocomplete="off"
      />
      <span
      class="halp-block text-danger"
      *ngIf="
        confirmPasswordForm.get('ConfirmPassword').touched &&
        confirmPasswordForm.get('ConfirmPassword').errors?.required
      "
    >Required Confirm Password.</span>
    <span
    class="halp-block text-danger"
    *ngIf="
      confirmPasswordForm.get('ConfirmPassword').touched &&
      confirmPasswordForm.get('ConfirmPassword').errors?.notEqual
    "
  >Password and Confirm Password does not match</span>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
